#master {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Controls {
    flex: 0 1 10vh;
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#mainGraph {
    flex: 0 0 auto;
    width: 1000px;
    height: 600px;
    outline: black solid 2px;
}

#reset {
    background-color: red;
}

.header {
    font-size: 26px;
    font-style: italic;
}